ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid gray;
  z-index: 1;
}

li {
  padding: 8px 16px;
}

li:hover {
  background-color: lightgray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  width: 162px;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.titlebutton {
  width: 162px;
  color: black;
  padding: 12px;
  font-size: 16px;
  opacity: 1.8;
}

@media only screen and (max-width: 1200px) {
  .titlebutton {
    width: 122px;
  }
  .dropdown-menu {
    width: 122px;
  }
}

@media only screen and (max-width: 900px) {
  .titlebutton {
    width: 92px;
  }
  .dropdown-menu {
    width: 92px;
  }
}

@media only screen and (max-width: 600px) {
  .titlebutton {
    width: 72px;
  }
  .dropdown-menu {
    width: 72px;
  }
}
