ul {
  position: absolute;
  border: 1px solid gray;
}

.dropdown-menu {
  width: 100px;
}

.dropdown-menu li {
  padding: 12px 16px;
}

.dropdownli:hover {
  background-color: #00d1b2;
}

.textContent :hover {
  background-color: none !important;
}

@media only screen and (max-width: 1200px) {
  .titlebutton {
    width: 122px;
  }
  .dropdown-menu {
    width: 122px;
  }
}

@media only screen and (max-width: 900px) {
  .titlebutton {
    width: 92px;
  }
  .dropdown-menu {
    width: 92px;
  }
}

@media only screen and (max-width: 600px) {
  .titlebutton {
    width: 82px;
  }
  .dropdown-menu {
    width: 82px;
  }
}
