{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "jest"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "no-plusplus": 0,
    "react/prop-types": "off",
    "no-param-reassign": 0,
    "max-len": "off",
    "import/no-extraneous-dependencies": [
      0,
      { "devDependencies": ["**/*.test.js"] }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
