.todo-div {
  background-color: #95638e4d;
  width: 50%;
  border-radius: 38px;
}

.editbutton {
  background: none;
  border: none;
  font-size: 18px;
  color: #0d47a1;
}

.liele {
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
  width: 80%;
}

.main-div {
  display: grid;
  place-items: center;
}

.addtodobtn {
  width: 120px;
}

.inputdiv {
  max-width: 880px !important;
}

@media only screen and (max-width: 1200px) {
  .addtodobtn {
    width: 120px;
  }

  .liele {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .addtodobtn {
    width: 100px;
  }

  .liele {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .addtodobtn {
    width: 80px;
  }

  .liele {
    width: 50%;
  }
}

.todocontent {
  display: inline-flex !important;
}
