.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.days-ele {
  display: flex;
  justify-content: center;
}

.array-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.array {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 85px;
}

.array-year {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 50px;
}

.parent-element:hover {
  background-color: rgb(60, 64, 67, 0.1);
}

.array-element-year {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.month {
  font-size: 1.2rem;
  font-weight: 800;
  font-style: italic;
  border: none;
  border-bottom: 1px dotted black;
  margin: 20px;
  padding: 10px;
}

.grid-item {
  border: 1px solid black;
  padding: 18px 18px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-size: 0.9rem;
  }
}
