.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding-bottom: 1.1em;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
.days-ele {
  display: flex;
  justify-content: center;
}

.array-element {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 85px;
}

.array {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 85px;
}
