.header {
  background-color: rgba(238, 113, 248, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 23px;
}

.btnHover :hover {
  background-color: #00d1b2;
}

ul {
  background-color: white !important;
}

.first-div {
  flex-basis: 25%;
  text-align: left;
  display: inline-flex;
  justify-content: space-evenly;
}

.second-div {
  flex-basis: 50%;
  text-align: center;
}

.third-div {
  flex-basis: 25%;
  display: inline-flex;
  justify-content: space-evenly;
}

.todaybtn {
  background: transparent;
  width: 100px;
  padding: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 23px;
  }
}

@media only screen and (max-width: 900px) {
  .todaybtn {
    width: 70px;
    font-size: 13px;
  }
  .btn {
    font-size: 19px;
  }
}

@media only screen and (max-width: 600px) {
  .todaybtn {
    width: 50px;
    font-size: 10px;
  }
  .btn {
    font-size: 16px;
  }
}
