.viewgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 85px;
}
.viewgrid :hover {
  background-color: rgb(60, 64, 67, 0.1);
}

.element {
  justify-content: center;
  height: 85px;
  padding-top: 2em;
}
